<launch>
    <arg name="yaml_path" default="$(find multipoint)/config/points.yaml" />
    <arg name="detection_config" default="$(find multipoint)/config/a8mini_detection.yaml" />
    <node pkg="multipoint" name="a8mini_detection" type="a8mini_detection_node.py" output="screen">
        <rosparam command="load" file="$(arg detection_config)" />
        <rosparam command="load" file="$(arg yaml_path)" />
    </node>
</launch>
